@model Site_v3_dinamico.Models.SitePessoal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeInstituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeInstituicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataIniciodataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataIniciodataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeCurso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.conteudosCurso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.conteudosCurso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID_Formacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
