@model CompetenciasViewModel

@{
    ViewData["Title"] = "Index";
}

<!--Competências-->
<section class="section my-services" data-section="section2">
    <div class="container">
        <div class="section-heading">
            <h2>Competências</h2>
            <div class="line-dec"></div>
        </div>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <!-- Competências Pessoais -->
        <div class="row mb-5 d-flex justify-content-center">
            @foreach (var item in Model.CompetenciasP)
            {
                <div class="flip-card col-md-3 mb-5">
                    <div class="flip-card-inner ">
                        <div class="flip-card-front align-items-center d-flex justify-content-center">
                            <h1> @Html.DisplayFor(modelItem => item.nomeComp)</h1>
                        </div>
                        <div class="flip-card-back align-items-center d-flex justify-content-center">
                            @Html.DisplayFor(modelItem => item.descricaoComp)
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 justify-content-center">

                @foreach (var item in Model.CompetenciasD)
                {
                    <!--Competéncias Técnicas-->

                    <div class="row">
                        <div class="skills col-6 d-flex justify-content-end">
                            <p>@Html.DisplayFor(modelItem => item.nomeComp)</p>
                        </div>
                        <div class="col-6 align-items-center">
                            <div class="skills ">
                                <ul>
                                    @for (int i = 0; i < item.nivelComp; i++)
                                    {
                                        <li>
                                            <i class="fas fa-star"></i>
                                        </li>
                                    }

                                    @for (int i = 0; i < 5 - item.nivelComp; i++)
                                    {
                                        <li>
                                            <i class="far fa-star"></i>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
        <div style="margin-top:100px;">
            <table >
                @foreach (var item in Model.CompetenciasF)
                {

                    <tr style="margin-top: 10px;">
                        <td style="height: 20px;">
                            @if (item.logo != null)
                            {
                                <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.logo)" class="img-fluid" />
                            }
                        </td>

                        <td class="progress" style="height: 20px; width: 400px; " >
                            <div width:@item.nivelComp%" class="progress-bar" role="progressbar"
                                 aria-valuenow="@item.nivelComp" aria-valuemin="0" aria-valuemax="100">
                                @item.nomeComp
                            </div>
                        </td>
                    </tr>
                }
            </table>
           
        </div>
    </section>

