@model IEnumerable<Site_v3_dinamico.Models.Exp_Profissional>

@{
    ViewData["Title"] = "Index";
}


<body>
    <div class="section my-services" data-section="section5">
        <div class="container">
            <div class="section-heading">
                <h2>Experiência Profissional</h2>
                <div class="line-dec"></div>
            </div>
            @*<table class="table">*@
            @*<tr>
            <th>
                @Html.DisplayNameFor(model => model.nomeEmpresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricaoFuncao)
            </th>
            <th></th>
        </tr>*@
            @if (User.IsInRole("Administradora"))
            {<div>

                    <a class="btn btn-primary" asp-action="Create">Adicionar cargo/função</a>
                </div>
                <br/>
                <br />
            }
            <div class="table-responsive">
                <table class="table table-dark">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="350" style="text-align: center;">
                                @if (item.logotipo != null)
                                {
                                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.logotipo)" />
                                }

                                @if (item.logotipo == null)
                                {

                                    @Html.DisplayFor(modelItem => item.nomeEmpresa)
                                }
                                <br/>

                                De: @Html.DisplayFor(modelItem => item.dataInicio)
                  
                                Até: @Html.DisplayFor(modelItem => item.dataFim)
                            </td>
                            <td>
                                <h3 style="color:#ff006a">
                                    @Html.DisplayFor(modelItem => item.funcao)
                                </h3>
                                <ul class="profissional">
                                    @Html.DisplayFor(modelItem => item.descricaoFuncao)
                                </ul>
                            </td>
                            <td>
                                @if (User.IsInRole("Administradora"))
                                {
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Exp_ProfissionalId">Editar</a>
                                    <br />
                                    <br />
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Exp_ProfissionalId"> Apagar </a>
                                }
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
    </body>