@model Site_v3_dinamico.Models.Encomenda

@{
    ViewData["Title"] = "Details";
}

<div class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Detalhes da Encomenda</h2>
            <div class="line-dec"></div>
        </div>
        <div class="table-responsive">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.dataEncomenda)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cliente)
                        </th>
                        <th>
                            Tipo de serviço
                        </th>
                        <th style="text-align:center">
                            Respondido
                        </th>
                        <th style="text-align:center">
                            Detalhes
                        </th>
                        @*<th>
            @Html.DisplayNameFor(model => model.respondido)
        </th>*@
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.dataEncomenda)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Cliente.Nome) <br/>
                            @Html.DisplayFor(model => model.Cliente.Email)<br />
                            @Html.DisplayFor(model => model.Cliente.Telemóvel)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Servicos.Nome)
                        <td style="text-align:center">
                            @Html.DisplayFor(model => model.respondido)
                        </td>
                        <td style="text-align:center">
                            @Html.DisplayFor(model => model.detalhes)
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            @if (Model.respondido == false)
                            {
                                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.EncomendaId">Resolver</a>
                            }
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.EncomendaId"> Apagar </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" asp-action="Index">Voltar</a>
        </div>
    </div>
</div>
