@model IEnumerable<Site_v3_dinamico.Models.Encomenda>

@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="section my-services" data-section="section5">
        <div class="container">
            <div class="section-heading">


                @if (User.IsInRole("Cliente"))
                {
                    <h2>Encomendas realizadas</h2>
                    <div class="line-dec"></div>
                }

                @if (User.IsInRole("Administradora"))
                {
                    <h2>Encomendas de clientes</h2>
                    <div class="line-dec"></div>
                    @*<a class="btn btn-success" asp-area="" asp-controller="Encomendas" asp-action="ResolverVarios">Resolver vários</a>*@
                    <h3 style="color:deeppink; font-weight: bold;">@ViewBag.Message novos pedidos!</h3>
                }

            </div>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.dataEncomenda)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Servicos)
                            </th>
                            @if (User.IsInRole("Administradora"))
                            {
                                <th>
                                    Resolvido
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (User.IsInRole("Administradora"))
                        {
                            @foreach (var item in Model)
                            {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.dataEncomenda)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cliente.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Servicos.Nome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.respondido)
                            </td>
                            <td>
                        
                            </td>
                            <td>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.EncomendaId">Detalhes</a>

                                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EncomendaId"> Apagar </a>
                            </td>
                        </tr>

                            }

                        }
                        @if (User.IsInRole("Cliente"))
                        {
                            @foreach (var item in Model)
                            {
                                if (item.Cliente.Email == User.Identity.Name) //Assegura que cada cliente só vê as suas encomendas
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.dataEncomenda)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Servicos.Nome)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.detalhes)
                                        </td>

                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>


