@model Site_v3_dinamico.Models.FormacaoComp

@{
    ViewData["Title"] = "Delete";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Remover formação</h2>
            <div class="line-dec"></div>
            <h3 style="color: white;">Tem a certeza de que pretende remover esta formação?</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-dark">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nomeInstituicaoComp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dataIniciodataFimComp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nomeCursoComp)
                        </th>
                    </tr>
                </thead>
               
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.nomeInstituicaoComp)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.dataIniciodataFimComp)
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.nomeCursoComp)
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="FormacaoCompId" />
            <input type="submit" value="Apagar" class="btn btn-danger" /> |
            <a class="btn btn-primary" asp-action="Index">Cancelar</a>
        </form>
    </div>
</section>
