@model Site_v3_dinamico.Models.FormacaoComp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FormacaoComp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeInstituicaoComp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeInstituicaoComp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataIniciodataFimComp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataIniciodataFimComp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeCursoComp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeCursoComp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FormacaoCompId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
