@model IEnumerable<Site_v3_dinamico.Models.FormacaoComp>

@{
    ViewData["Title"] = "Index";
}

<section class="section my-services" data-section="section5">
    <div class="container">
        <div class="section-heading">
            <h2>Remover formação</h2>
            <div class="line-dec"></div>
            <h3 style="color: white;">Formação complementar</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-dark">

                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.nomeInstituicaoComp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.dataIniciodataFimComp)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.nomeCursoComp)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomeInstituicaoComp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.dataIniciodataFimComp)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomeCursoComp)
                            </td>
                            <td>
                                @if (User.IsInRole("Administradora"))
                                {
                                    <a asp-action="Edit" asp-route-id="@item.FormacaoCompId">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.FormacaoCompId">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.FormacaoCompId">Delete</a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
         
        </div>
    </div>
</section>
