@model IEnumerable<Site_v3_dinamico.Models.Servicos>

@{
    ViewData["Title"] = "Index";
}

<body>
    <div class="section my-services" data-section="section5">
        <div class="container">
            @if (User.IsInRole("Administradora"))
            {
                <div class="section-heading">
                    <h2>Serviços disponibilizados</h2>

                    <div class="line-dec"></div>
                </div>

                <a class="btn btn-primary" asp-action="Create">Adicionar serviço</a>

                <br />
                <br />
            }
            @if (!User.IsInRole("Administradora"))
            {
                <div class="section-heading">
                    <h2>Loja</h2>
                    <div class="line-dec"></div>
                    <p style="color:white; font-size: 14px;">
                        Conheça o trabalho que posso desenvolver e peça um orçamento para o seu projeto.
                    </p>
                </div>
            }
        <div class="table-responsive">
            <table class="table table-dark">
                @*<thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>*@
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if (item.imagem != null)
                                {
                                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.imagem)" class="img-fluid" />
                                }

                            </td>
                            <td>
                                <h3 style="font-weight: bold; font-size: 20px;">
                                    @Html.DisplayFor(modelItem => item.Nome)
                                </h3>
                                <ul class="profissional">
                                    @Html.DisplayFor(modelItem => item.Descricao)
                                </ul>

                            </td>
                            <td>
                            </td>
                            <td>
                                @if (User.IsInRole("Administradora"))
                                {
                                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.ServicosId">Editar</a>
                                    <br />
                                    <br />
                                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ServicosId"> Apagar </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (!User.IsInRole("Administradora"))
            {
                
                
                    <a class="btn btn-danger" style="background-color: #ff006a; border-color: #ff006a" asp-area="" asp-controller="Encomendas" asp-action="Create">Pedir orçamento</a>
                

            }
        </div>
        </div>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}
